<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-invoice-heading" jhiTranslate="hulkStoreApp.invoice.home.createOrEditLabel">Create or edit a Invoice</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hulkStoreApp.invoice.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('date')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hulkStoreApp.invoice.payment" for="field_payment">Payment</label>
                    <select class="form-control" id="field_payment" name="payment" formControlName="payment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentOption.id === editForm.get('payment')!.value?.id ? editForm.get('payment')!.value : paymentOption" *ngFor="let paymentOption of payments; trackBy: trackById">{{ paymentOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hulkStoreApp.invoice.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="total" jhiTranslate="hulkStoreApp.invoice.total">TOTAL</label>
                    <input type="number" class="form-control" id="total" name="total" formControlName="total" readonly />
                </div>
            </div>

            <div class="col-md-12 form-group">
                <label class="form-control-label" jhiTranslate="hulkStoreApp.invoice.detailInvoice" for="details">Invoice
                    Details</label>


                <div class="table-responsive" id="details">
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                        <tr>
                            <th scope="col"><span>Cantidad</span></th>
                            <th scope="col"><span>Nombre Producto</span></th>
                            <th scope="col"><span>Precio Unitario</span></th>
                            <th scope="col"><span>Total</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let detail of detailInvoices">
                            <td>{{detail.quantity}}</td>
                            <td>{{getNameProducto(detail)}}</td>
                            <td>${{detail.price | number : '1.2-2'}}</td>
                            <td>${{detail.total | number : '1.2-2'}}</td>
                            <td class="text-right">
                                <button type="submit" (click)="delete(detail)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="times"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <br/><br/>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
