<div>
    <h2 id="page-heading">
        <span jhiTranslate="hulkStoreApp.detailInvoice.home.title">Detail Invoices</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-detail-invoice" [routerLink]="['/detail-invoice/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hulkStoreApp.detailInvoice.home.createLabel">
            Create a new Detail Invoice
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="detailInvoices?.length === 0">
        <span jhiTranslate="hulkStoreApp.detailInvoice.home.notFound">No detailInvoices found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="detailInvoices && detailInvoices.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="hulkStoreApp.detailInvoice.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="price"><span jhiTranslate="hulkStoreApp.detailInvoice.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="total"><span jhiTranslate="hulkStoreApp.detailInvoice.total">Total</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="product.id"><span jhiTranslate="hulkStoreApp.detailInvoice.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="invoice.id"><span jhiTranslate="hulkStoreApp.detailInvoice.invoice">Invoice</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detailInvoice of detailInvoices ;trackBy: trackId">
                    <td><a [routerLink]="['/detail-invoice', detailInvoice.id, 'view']">{{ detailInvoice.id }}</a></td>
                    <td>{{ detailInvoice.quantity }}</td>
                    <td>{{ detailInvoice.price }}</td>
                    <td>{{ detailInvoice.total }}</td>
                    <td>
                        <div *ngIf="detailInvoice.product">
                            <a [routerLink]="['/product', detailInvoice.product?.id, 'view']" >{{ detailInvoice.product?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="detailInvoice.invoice">
                            <a [routerLink]="['/invoice', detailInvoice.invoice?.id, 'view']" >{{ detailInvoice.invoice?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/detail-invoice', detailInvoice.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/detail-invoice', detailInvoice.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(detailInvoice)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="detailInvoices && detailInvoices.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
